
.vs/Users/v16/.suo
bin/Debug/net5.0/ref/Users.dll
bin/Debug/net5.0/Users.dll
bin/Debug/net5.0/Users.pdb
bin/Debug/net5.0/Users.Views.dll
bin/Debug/net5.0/Users.Views.pdb
obj/Debug/net5.0/ref/Users.dll
obj/Debug/net5.0/Users.csprojAssemblyReference.cache
obj/Debug/net5.0/Users.dll
obj/Debug/net5.0/Users.pdb
obj/Debug/net5.0/Users.Views.dll
obj/Debug/net5.0/Users.Views.pdb
